<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Calorie Burner 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F32D63FC1E43966B00E79E4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F32D64101E43966D00E79E4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F32D641B1E43966D00E79E4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
